
# Основная библиотека для тестирования
pytest==7.4.3

# Для генерации HTML-отчетов о тестировании
pytest-html==4.1.1

# Для параллельного запуска тестов (ускорение)
pytest-xdist==3.5.0

# Для работы с API (если будут API-тесты)
requests==2.31.0

# Для UI-тестирования (если будут тесты с браузером)
selenium==4.15.0

# Для работы с данными в формате JSON
python-json-logger==2.0.7

# Дополнительные плагины для pytest
pytest-timeout==2.2.0  # Ограничение времени выполнения тестов
pytest-rerunfailures==12.0  # Повторный запуск упавших тестов

# Для логирования (записи логов)
loguru==0.7.2